body{ color:#333;}
.wd{width:90%; margin: 0 auto;}
/**************top**********/
.main{width:100%; position:relative; }
.nav{width:100%;background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);display:flex;justify-content: space-between;flex-wrap: wrap;
z-index:2;position:absolute;left:0;top:0;padding:35px 0;}
.mainwd{width:90%; margin: 0 auto;display:flex;justify-content:space-between;flex-wrap: wrap;}
.navlogo{width:466px;}
.navlogo a{width:100%;display:block;}
.navlogo img{width:100%;height:100%;}
.navright{width:calc(100% - 466px);padding:0 0 0 12%;}
.navrighttop{display:flex;justify-content:flex-end;flex-wrap:wrap;}
.navrightbox{display:flex;justify-content:space-between;flex-wrap:wrap;margin:8px 10px 0 0;}
.navrightbox>img{width:19px; height:19px;margin:0 10px 0 0;}
.navrightbox select{display:block;background:none;border:0; height:19px;color:#fff;font-size:16px;}
.navrightbox option{display:block;background:none;border:0; height:19px;color:#333; line-height:19px;font-size:16px;}
.serch{width:250px;display:block;z-index:2;transition:0.5s;border:1px solid #fff;border-radius:5px; overflow:hidden; padding:0 10px;}
.serch input{width:calc(100% - 19px);height:34px;background:none;float:left;font-size: 14px;color:#fff;}
.serch button{width:19px;height:19px; float:left; background:none;display:block;padding:0;margin:6px 0 0 0;}
.navbox{margin:15px 0 0 0;
/*width:80%;*/
}
.navli{position:relative;float:left;
width:12.5%;
/*margin:0 2%;*/
}
.navyjlm{position:relative;}
.navyjlm a{font-size:20px; line-height:45px;height:45px;text-align:center;display:block;overflow:hidden;position:relative;z-index:2;color:#fff}
.navyjlm a:before{content:"";width:100%;height:0;
/*background: linear-gradient(90deg, rgba(0,129,204,1) 0%, rgba(0,149,145,1) 100%);*/
position:absolute;left:0;top:0;z-index:-1;transition:0.5s;}
/*.navyjlm a:hover,.navyjlm.on a{color:#009591;}*/
.navyjlm a:hover,.navyjlm.on a{color:#deb863;}
.navyjlm:hover a:before,.navyjlm.on a:before{height:100%;}
.nav_erji{visibility: hidden;opacity:0;width:100%;position: absolute;left: 0;top: 130%;background:#fff;transition: .5s;}
.navli:hover .nav_erji{top: 100%;visibility: visible;opacity: 1;z-index: 9;}
.nav_erji{width:150px;background:rgba(255,255,255,1);display:flex;justify-content:center;position:absolute;border:1px solid #eeeeee;left:50%;top:0;margin:10px 0 0 -75px;}
.nav_erji .xlul{width:100%;}
.nav_erji .xlul li{width:100%;}
.nav_erji .xlul li a{width:100%;display:block;line-height:48px;height:48px;color:#333;position:relative;text-align:center; z-index:1;overflow:hidden;}
.nav_erji .xlul li:hover a{color:#fff;background: linear-gradient(90deg, rgba(0,129,204,1) 0%, rgba(0,149,145,1) 100%);}
/***********************************************************/
.topnav{ position:absolute;right:5px; top:0;z-index:99;display:none;opacity:0;visibility:hidden;}
#header .menua{ display:none;margin:0 0;position: absolute; top:77px;right:47px;opacity:0;visibility:hidden;}
#header .menua a{ width:30px; height:30px;background:#00a8b1;display: block;   padding: 8px 0 0 0;}
#header .menua a img{ width:15px; margin:0 auto 0 auto;}
#header a.menu_btn i {font-size:18px;}
#header .menu_bg,#header .menu {position: fixed;top: 0;right: 0;z-index: 10;}
#header .menu_bg {background-color: rgba(0, 0, 0, 0.7);display: none;width: 100%;height: 100%;}
#header a.menu_btn i {font-size:18px; padding-right:25px;}
#header .menu_bg,#header .menu {position: fixed;top: 0;right: 0;z-index:99;}
#header .menu_bg {background-color: rgba(0, 0, 0, 0.7);display: none;width: 100%;height: 100%;}
#header .menu {width: 9.75rem;background-color: #FFFFFF;overflow-x: hidden;height: 100%;overflow-y: auto;}
#header .menu .nav_right li{display: block;border-bottom: 0.01rem solid #eeeeef;}
#header .menu .nav_right li> a {display: block;width:100%;height:60px; box-sizing: border-box;color: #3a3a3a;line-height:60px;text-align: center; font-size:18px;}
#header .menu .nav_right li> a.active {background:#009591;border-color: #2797fd;color: #FFFFFF;}
#header .menu .nav_right .ejlm{ display: none;}	
#header .menu .nav_right li .ejlm{ width: 100%; background: #f7f7f7; }
#header .menu .nav_right li .ejlm a{ width: 100%; line-height:30px;font-size:14px;font-weight:bold; color:#009591; text-align:center; display: block;}
#header .menu .nav_right li .ejlm a:hover{ color: #fff;background:#009591;}
/**************banner**********/
.banner{width:100%;position:relative;overflow:hidden;}
.banner .slideBox{width:100%;position:relative;overflow:hidden;}
.banner .bd ul li{width:100%;position:relative;overflow:hidden;}
.banner .bd ul li img{width:100%;height:100%;object-fit:cover;transition:0.5s;}
.padding7{padding:70px 0;}
.margin3{margin:30px 0 0 0;}
/***************通用title**************/
.title01{width:100%;position:relative;}
/**********************/
.bqmain{background:#0081cc;padding:40px 0 30px 0;}
.bqbottom,.bqtoplogo,.bqtop,.bqtopbox{display:flex;justify-content:center;flex-wrap: wrap;}
.bqtoplogo,.bqtopbox,.bqtopright{width:20%;background:rgba(255,255,255,0.2);padding:30px;border-radius:10px;}
.bqtoplogo a img{margin:25px 0 0 0;}
.bqtopbox{width:56%;margin:0 2%;padding:30px 90px;}
.bqnr{margin:0 40px 0 0;}
.bqnr li{line-height:53px;font-size:18px;color:#fff;}
.bqwem{width:calc(100% - 350px); border-left:1px solid rgba(255,255,255,0.2);padding:0 0 0 40px;display:flex;justify-content:space-between;}
.bqwem span,.bqwem h6{display:block;float:left;}
.bqwem span img{width:100%;}
.bqwem h6 img{margin:55px 0 0 0;}
.bqtopright{position:relative;}
.bqtopright>span{width:100%;display:block;font-size:18px;color:#fff; line-height:20px; margin:25px 0 20px 0;}
.cyljul{width:100%;position:relative;z-index:9;}
.cyljul h6{width:100%;line-height:60px;height:60px; padding:0 10px;opacity:0.5; color:#fff;display:block; background:#0081cc;border-radius:10px; overflow:hidden;position:relative;}
.cyljul h6:before{content:"";width:13px;height:7px;background:url("../img/jtimg03.png") no-repeat;position:absolute;right:15px;top:26px;transition:0.5s;}
.cyljul h6:hover:before{background:url("../img/jtimg03.png") 0 -7px no-repeat;}
.cyljul .cyljbox{width:100%;position:absolute;z-index:3;display:none;bottom:0;left:0;background:#fff;border-radius:10px;overflow:hidden;padding:20px 0; }
.cyljul .cyljbox li{}
.cyljul .cyljbox li a{width:100%;line-height:35px;height:35px;overflow:hidden;display:block;text-align:center;}
.cyljul .cyljbox li:hover{background:#fff;}
.cyljul .cyljbox li:hover a{color:#0081cc;}
.cyljul:hover .cyljbox{display:block;}
.bqtoplogo a,.bqtoplogo a img{width:100%;}
.bqbottom{margin:20px 0 0 0;}
.bqbottom p,.bqbottom a{color:#fff;line-height:20px;display:block;}
.bqbottom a{margin:0 10px;}
.bqbottom a:hover{color:#f5f800;}
/**********************/
.cgfwbox{width:calc(100% - 540px);background:#00a8b1;display:flex;justify-content: space-between;flex-wrap: wrap;}
.cgfwbox .cgfw{width:70%;background:#009591;padding:30px 40px 0 45px;}
.cgfwbox .cgfwtitle{width:100%;display:block;font-size:30px; color:#fff; line-height:30px;}
.cgfwbox .cgfwtime{width:100%;display:block;}
.cgfwbox .cgfwtime li{width:110px;display:block;float:left;color:#fff;}
.cgfwbox .cgfwtime li:nth-child(2){ margin:0 19%;}
.cgfwbox .cgfwtime li p{width:100%;display:block;text-align:center;font-size:14px;line-height:14px;}
.cgfwbox .cgfwtime li span{width:100%;display:block;text-align:center;font-size:44px; line-height:44px;}
.cgfwbox .cgfwtime li:nth-child(2) span{position:relative;}
.cgfwbox .cgfwtime li:nth-child(2) span:before{content:"";width:70px;height:2px;background:#fff;position:absolute;left:-85px;bottom:21px;}
.cgfwbox .cgfwtime li:nth-child(2) span:after{content:"";width:70px;height:2px;background:#fff;position:absolute;right:-85px;bottom:21px;}
.cgfwbox .cgfwzysx{width:100%; color:#fff;margin:10px 0;}
.cgfwbox .cgfwico{width:100%;border:1px solid #41b0ad;border-radius:20px; overflow:hidden;}
.cgfwbox .cgfwico li{width:25%; display:block;float:left;}
.cgfwbox .cgfwico li a{width:100%; display:block;padding:15px 0; }
.cgfwbox .cgfwico li span{width:38px;height:34px; display:block;margin:0 auto;}
.cgfwbox .cgfwico li img{width:100%;height:100%;}
.cgfwbox .cgfwico li p{width:100%;height:18px;font-size:18px;overflow:hidden; line-height:18px;text-align:center;color:#fff;margin:15px 0 0 0;}
.cgfwbox .cgfwico li:hover{background:rgba(0,0,0,0.1);}
.cgfwbox .cgfwico li:hover img{ animation: jumpImg 2s linear infinite;}
.cgfwbox .jjyy{width:30%;padding:30px 0;}
.cgfwbox .jjyy h6{width:100%; font-size:30px; color:#fff; line-height:30px;text-align:center;}
.cgfwbox .jjyy span{width:100%; display:block;}
.cgfwbox .jjyy span>img{width:160px;height:160px; margin:30px auto 20px auto;}
.cgfwbox .jjyy p{width:100%;line-height:18px;text-align:center;color:#fff;font-size:18px;}
.qjmy{width:510px;}
.qjmy a{width:100%;height:320px; overflow:hidden;display:block;}
.qjmy a img{width:100%;height:100%;object-fit:cover;transition:0.5s;}
.qjmy a:hover img{transform: scale(1.05);}
/**********************/
.box2{background:#0081cc;overflow:hidden;}
.box02bj{width:100%;background:url("../img/xtbj01.png") left bottom no-repeat;}
.zqyltitle{width:13%;display:flex;padding:50px 0 0 55px;}
.zqyltitle span{width:40px;display:block;writing-mode: vertical-rl;font-size:34px;color:#fff;line-height:40px;}
.zqyltitle p{width:30px;display:block;writing-mode: vertical-rl;font-size:30px;color:#52a3db;line-height:30px;}
.zqylbox{width:calc(100% - 13%);}
.zqylboxqh{ width:100%;position:relative; }
.zqylboxqh .hd{float:left;padding:25px 0 0 0; }
.zqylboxqh .hd ul{}
.zqylboxqh .hd ul li{ cursor:pointer;padding:0 180px 0 0;margin: 8px 0 0 0;}
.zqylboxqh .hd ul li span{ font-size:20px;color:#fff;text-align:right; line-height:50px; display:block;}
.zqylboxqh .hd ul li.on{ background:url("../img/jtimg04.png") right no-repeat;  }
.zqylboxqh .hd ul li.on span{font-weight:bold;position:relative; }
.zqylboxqh .hd ul li.on span:before{content:"";width:8px;height:8px;background:#fff;border-radius:50%;position:absolute;right:-15px;top:21px;}
.zqylboxqh .hd ul li.on span:after{content:"";width:150px;height:1px;background:#fff; position:absolute;right:-165px;top:24px;}
.zqylboxqh .bd{width:70%; float:right;}
.zqylboxqh .bd li a,.zqylboxqh .bd li span{width:100%;display:block;overflow:hidden; }
.zqylboxqh .bd li a{position:relative;}
.zqylboxqh .bd li img{width:100%;transition:0.5s;}
.zqylboxqh .zqylfont{width:100%;background:rgba(0,0,0,0.5);position:absolute;left:0;bottom:0;padding:20px 50px;}
.zqylboxqh .zqylfont p{width:100%;height:75px; line-height:25px;color:#fff; overflow:hidden;display: -webkit-box;-webkit-line-clamp:3;-webkit-box-orient: vertical;}
.zqylboxqh .bd li:hover img{transform: scale(1.05);}
.zqylboxqh .bd li:hover .zqylfont{background:#00a8b1;background: linear-gradient(90deg, rgba(0,129,204,1) 0%, rgba(0,149,145,1) 100%);}
/**********************/
.box3{margin:60px 0;}
.boxwd{width:48.5%;}
.title h6{display:block;float:left;font-size:34px; line-height:34px;}
.title a{display:block;float:right;font-size:14px; line-height:24px;color:#666;margin:5px 0 0 0; }
.title a:hover{background:#0081cc;color:#fff;padding:0 10px;transition:0.5s;}
.kpwd{width:50%;}
.boxnew{ padding:0 0 30px 0;border-bottom:1px solid #e2e2e2;}
.boxnew a{width:100%;display:block;}
.boxnew h6{width:380px;display:block;float:left;overflow:hidden;}
.boxnew h6 img{width:100%;transition:0.5s;}
.boxnew .boxnewnr{width:calc(100% - 380px);display:block;float:left;padding:60px 10px 0 30px;}
.boxnew .boxnewnr span{width:100%; font-size:18px; line-height:30px;height:90px; overflow:hidden;display: -webkit-box;-webkit-line-clamp:3;-webkit-box-orient: vertical;}
.boxnew .boxnewnr p{width:100%;line-height:14px;color:#0081cc; }
.boxnew a:hover,.boxnewul li:hover,.dqjsul li:hover,.csdlbox .bd li:hover{background: linear-gradient(90deg, rgba(0,129,204,1) 0%, rgba(0,149,145,1) 100%);}
.boxnew a:hover h6 img{transform: scale(1.05);}
.boxnew a:hover .boxnewnr p,.boxnew a:hover .boxnewnr span{color:#fff;}
.boxnewul{}
.boxnewul li{margin:20px 0 0 0;padding:5px 0;}
.boxnewul li a{width:100%;display:block;border-left:3px solid #0081cc; padding:0 0 0 10px;}
.boxnewul li span{width:calc(100% - 85px);display:block;font-size:18px; line-height:25px;float:left;overflow:hidden;display: -webkit-box;-webkit-line-clamp:1;-webkit-box-orient: vertical;}
.boxnewul li p{width:85px;display:block; line-height:25px;float:left;}
.boxnewul li:hover a{transition:0.5s;}
.boxnewul li:hover span{color:#fff;}
.boxnewul li:hover p{color:#fff;}
.kpwd .title{padding:0 20px 0 0;}
.kphdbox{width:100%;background:#0081cc;}
.kphdbox a{width:100%;display:block;}
.kphdbox h5{width:100%;height:220px;overflow:hidden; display:block;}
.kphdbox h5 img{width:100%;height:100%;object-fit:cover;transition:0.5s;}
.kphdboxnr{padding:20px;}
.kphdboxnr span{font-size:18px;color:#fff; line-height:30px;height:60px;overflow:hidden;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;}
.kphdboxnr p{ color:#fff;height:90px; line-height:30px;opacity:0.5;overflow:hidden;display: -webkit-box;-webkit-line-clamp:3;-webkit-box-orient: vertical;margin:20px 0;}
.kphdboxnr h6{ color:#fff; line-height:30px;}
.kphdbox a:hover{background:#01a9b0;}
.kphdbox a:hover img{transform: scale(1.05);}
.kphdbd{background:#fff;box-shadow: 0 5px 5px #eee;}
.kphdbd .kphdboxnr span{color:#333;}
.kphdbd .kphdboxnr p{color:#333;}
.kphdbd .kphdboxnr h6{color:#0081cc;}
.kphdbd a:hover span,.kphdbd a:hover p,.kphdbd a:hover h6{color:#fff;}
/**********************/
.dqjsul{background:#fff;box-shadow: 0 0 10px #e4e4e4;padding:20px;}
.dqjsul li{}
.dqjsul li a{width:100%;display:block;}
.dqjsul li span{width:100%; font-size:18px; line-height:45px;height:45px;overflow:hidden;display: -webkit-box;-webkit-line-clamp:1;-webkit-box-orient: vertical;}
.dqjsul li P{width:100%;display:block; color:#0081cc;line-height:35px;position:relative;}
.dqjsul li P:before{content:"";width:calc(100% - 90px);height:1px;background:#eee;position:absolute;right:0;top:17px;}
.dqjsul li:hover a{padding:0 10px;transition:0.5s;}
.dqjsul li:hover span,.dqjsul li:hover p{color:#fff;}
.csdlbox{ width:100%; overflow:hidden; position:relative; padding:21px 50px;background:#fff;box-shadow: 0 0 10px #e4e4e4;}
.csdlbox .bd{ position:relative; height:100%; z-index:0;   }
.csdlbox .bd li{ zoom:1; vertical-align:middle; }
.csdlbox .bd li a{width:100%;display:block;}
.csdlbox .csdlboximg{width:249px;height:318px;overflow:hidden;float:left; }
.csdlbox .csdlboximg img{width:100%;height:100%;transition:0.5s;object-fit:cover;}
.csdlbox .csdlboxnr{width:calc(100% - 249px);height:318px;overflow:hidden;float:left;padding:0 0 0 40px;}
.csdlbox .csdlboxnrtitle{margin:20px 0;}
.csdlbox .csdlboxnrtitle span{display:block;float:left;font-size:22px;line-height:22px;font-weight:bold; margin:0 15px 0 0;color:#2b394c;}
.csdlbox .csdlboxnrtitle p{display:block;float:left;font-size:18px;line-height:22px; color:#2b394c;}
.csdlbox .csdlboxul p{line-height:40px;}
.csdlbox .csdlboxckxq{width:100px;text-align:center;border:1px solid #0081cc; line-height:30px;font-size:14px;color:#666;margin:100px 0 0 0;}
.csdlbox .bd li:hover a img{transform: scale(1.05);}
.csdlbox .bd li:hover span{color:#fff;}
.csdlbox .bd li:hover p{color:#fff;}
.csdlbox .bd li:hover .csdlboxckxq{color:#fff;border:1px solid #fff;}
.csdlbox .prev{width:17px;height:32px;background:url("../img/jtimg01.png") no-repeat;position:absolute;right:100px;bottom:21px;transition:0.5s;}
.csdlbox .prev:hover{background:url("../img/jtimg01.png") 0 -32px no-repeat;}
.csdlbox .next{width:17px;height:32px;background:url("../img/jtimg02.png") no-repeat;position:absolute;right:50px;bottom:21px;transition:0.5s;}
.csdlbox .next:hover{background:url("../img/jtimg02.png") 0 -32px no-repeat;}
/**********************/
.box5{/*display: flex;flex-wrap: wrap;justify-content: center;*/}
.cjhtbox{width:28%;}
.cjhtbox li,.cjhtbox li a,.cjhtbox li img{width:100%;display:block;overflow:hidden;}
.cjhtbox li:last-child{margin:30px 0 0 0;}
.cjhtbox li  a img{width:100%;transition:0.5s;}
.cjhtbox li:hover a img{transform: scale(1.05);}

.bshgzz{width:40%;background:#0081cc;margin:0 2%;}
.bshgzzbox{background:url("../img/cjhtbj01.jpg") right bottom no-repeat;background-size: cover;padding:55px 40px;}
.bshgzzboxtitle{font-size:30px;color:#fff;line-height:50px;}
.bshgzzboxnr{margin:30px 0 20px 0; line-height:30px;color:#fff;height:210px;overflow:hidden;display: -webkit-box;-webkit-line-clamp:7;-webkit-box-orient: vertical;}
.bshgzzboxxq{width:100px;text-align:center;border:1px solid #fff; line-height:25px;font-size:14px;color:#fff;display:block;opacity:0.5;margin:35px 0 0 0;}
.bshgzzboxxq:hover{opacity:1;}
.sp{width:28%; background:#00a8b1; padding:39px 0 0 0;}
.sp .title{padding:0 30px;}
.sp .title h6{color:#fff;}
.sp .title a{color:#8aeeeb;padding:0 10px;border:1px solid #8aeeeb;}
.sp .title a:hover{background:rgba(0,0,0,0.1);color:#fff;border:1px solid #fff;}
.sp .spbox,.sp .spbox span,.sp .spbox span img{width:100%}
.sp .spbox{position:relative;}
.sp .spbox video{width:100%;height:358px;background:#000;    display: block;}
/**********************/
/**********************/
/**********************/
@media screen and (max-width:1680px) {
	.bshgzzbox{padding: 27px 40px;}
	.zqylboxqh .hd ul li{margin:0;}
	.sp .spbox video{height:300px;}
	/*.navbox{width:100%;}*/
}
@media screen and (max-width:1550px) {
	.bshgzzbox{padding:13px 40px;}
	.sp .spbox video{height:270px;}
}
@media screen and (max-width:1500px) {
	.wd{width:90%;}
	.navrightbox option,.nav_erji .xlul li a,.navrightbox select,.cgfwbox .cgfwzysx,.zqylboxqh .zqylfont p,.boxnewul li p,.kphdboxnr p,.kphdboxnr h6,.dqjsul li P,.csdlbox .csdlboxnrtitle p,.csdlbox .csdlboxul p,.cyljul .cyljbox li a,.bqbottom p,.bqbottom a{font-size:14px;}
	.nav_erji .xlul li a{line-height:30px;height:30px;}
	.navyjlm a,.cgfwbox .cgfwico li p,.cgfwbox .jjyy p,.zqylboxqh .hd ul li span,.kphdboxnr span,.dqjsul li span,.bqnr li,.bqtopright>span{font-size:16px;}
	.navright{padding: 0 0 0 4%;}
	.padding7{padding:30px 0;}
	.box3{margin:30px 0;}
	.bqtopbox{padding:30px;}
	.cgfwbox .cgfwtime li{width:auto;}
	.cgfwbox .cgfwtime li span{font-size: 32px; line-height:32px;}
	.cgfwbox .cgfwtitle,.cgfwbox .jjyy h6,.zqyltitle span,.zqyltitle p,.title h6,.bshgzzboxtitle{font-size: 24px;}
	.zqylboxqh .hd ul li span{line-height:45px;}
	.boxnew .boxnewnr span,.boxnewul li span{font-size:16px;}
	.kphdboxnr p{margin: 10px 0;}
	.boxnewul li{margin: 13px 0 0 0;}
	.csdlbox .csdlboxnrtitle span{font-size:18px;}
	.csdlbox{padding:20px;}
	.csdlbox .csdlboxckxq{margin:70px 0 0 0;}
	.csdlbox .next{right:20px;}
	.csdlbox .prev{right:50px;}
	.csdlbox .csdlboxnr{padding:0 0 0 20px;}
	.bshgzzboxnr{font-size:14px;margin:10px 0;}
	.bshgzzboxxq{margin: 29px 0 0 0;}
	.bshgzzbox{padding: 20px 40px;}
	.sp{    padding: 30px 0 0 0;}
}
@media screen and (max-width:1440px) {
	.navyjlm a{font-size:14px;}
	.bshgzzbox{padding:13px 40px;}
	.sp{    padding: 18px 0 0 0;}
}
@media screen and (max-width:1366px) {
	.cgfwbox .cgfw{padding: 20px 20px 0 20px;}
	.cgfwbox .jjyy{padding:20px 0;}
	.cgfwbox .jjyy span>img{margin:10px auto;}
	.qjmy a{height:268px;}
	.qjmy{width:30%;}
	.cgfwbox{width: calc(100% - 32%);}
	.cgfwbox .cgfwico li p{margin: 5px 0 0 0;}
	.cgfwbox .cgfwico li a{padding:10px 0;}
	.zqylboxqh .hd ul li span{line-height:42px;}
	.zqylboxqh .hd ul li.on span:before{top: 16px;}
	.zqylboxqh .hd ul li.on span:after{top: 20px;width: 120px;right: -130px;}
	.zqylboxqh .hd ul li{padding: 0 145px 0 0;}
	.zqylboxqh .zqylfont{padding:20px;}
	.boxnew .boxnewnr{padding: 35px 10px 0 30px;}
	.boxnew .boxnewnr p{margin:20px 0 0 0;}
	.bshgzzboxnr{height:180px;-webkit-line-clamp:6;}
	.bshgzzbox{padding: 20px 40px;}
	.bqwem span{width:100px;height:100px;}
	.bqwem span img{margin:30px 0 0 0;}
	.sp .spbox video{height: 253px;}
}
@media screen and (max-width:1300px) {
	.bshgzzbox{padding: 13px 40px;}
	.sp .spbox video{height: 240px;}
}
@media screen and (max-width:1210px) {
	.navlogo{width: 30%;}
	.navright{width:70%;}
	.navbox{margin:0;}
	.bshgzzboxnr{margin:17px 0 0 0;line-height:25px;height:150px;}
	.sp .spbox video{height: 215px;}
}
@media screen and (max-width:1024px) {
	.navbox{display:none}
	.topnav{display:block;opacity: 1;visibility: visible;}
	#header .menua{display:block;opacity: 1;visibility: visible;}
	.cgfwbox,.qjmy,.zqyltitle,.zqyltitle span,.zqyltitle p,.zqylbox,.zqylboxqh .hd,.zqylboxqh .bd,.boxwd,.cjhtbox,.bshgzz,.sp{width: 100%;}
	.qjmy,.margin3,.zqylboxqh .bd{margin:20px 0 0 0;}
	.qjmy a{height:auto;}
	.zqyltitle{display: block;padding: 20px 0;}
	.zqyltitle span,.zqyltitle p{writing-mode: revert;text-align:center;}
	.zqylboxqh .hd ul li.on span:before,.zqylboxqh .hd ul li.on span:after{display:none;}
	.zqylboxqh .hd ul li.on{background:none;}
	.zqylboxqh .hd ul li,.zqylboxqh .hd{padding:0;}
	.zqylbox{padding:0 20px 20px 20px;}
	.zqylboxqh{}
	.zqylboxqh .hd ul li{width:50%;float:left;}
	.zqylboxqh .hd ul li span{width:100%;text-align:center;}
	
	
	.bqwem{padding:0;justify-content: flex-end;border-left:0;}
	.bqwem span{width:90px;margin:35px 0 0 3%;}
	.box3{margin:20px 0;}
	.box3 .boxwd:last-child,.box4 .boxwd:last-child{margin:20px 0 0 0;}
	.kphdbox h5{height:auto;}
	.bshgzz{margin:20px 0;}
	.bqtoplogo{width:100%;padding:0;background:none;}
	.bqtoplogo a{width:300px;margin:0 auto;}
	.bqtoplogo a img{margin:0 auto;}
	.bqtopbox{width:100%;margin:20px 0 0 0;background:none;padding:0;}
	.bqtopright{width:100%;background:none;padding:0;}
	.bqtopright>span{margin:15px 0;display:none;}
	.cyljul h6{border:1px solid #fff;}
	.bqnr,.bqwem{width:50%;}
	.bqnr{margin:0;}
	.sp .spbox h6{top: 250px;}
	.kphdbox h5 img{height:300px;}
	.sp .spbox video{height:auto;}
}
@media screen and (max-width:900px) {
}
@media screen and (max-width:800px) {
}
@media screen and (max-width:700px) {
	.serch{display:none;}
	.cgfwbox .cgfw{padding:20px;}
	.cgfwbox .cgfw,.cgfwbox .jjyy{width:100%;}
	.bqnr{width:calc(100% - 135px);}
	.bqwem{width:auto;}
	.bqmain{padding:20px 0;}
	.cjhtbox li:last-child{margin: 20px 0 0 0;}
}
@media screen and (max-width:500px) {
	.nav{padding:15px 0;}
	.navlogo{width:215px;}
	.navright{width:calc(100% - 215px);}
	.navrightbox{display:none;}
	#header .menua{right:15px;    top:9px;}
	.cgfwbox .cgfwtitle, .cgfwbox .jjyy h6, .zqyltitle span, .zqyltitle p, .title h6, .bshgzzboxtitle{font-size: 18px;}
	.cgfwbox .cgfwtime li span{font-size:20px;}
	.cgfwbox .cgfwtime li:nth-child(2) span:before{    width: 50px;    left: -60px;bottom: 15px;}
	.cgfwbox .cgfwtime li:nth-child(2) span:after{    width: 50px;   right: -60px;bottom: 15px;}
	.navyjlm a, .cgfwbox .cgfwico li p, .cgfwbox .jjyy p, .zqylboxqh .hd ul li span, .kphdboxnr span, .dqjsul li span, .bqnr li, .bqtopright>span{font-size:14px;}
	.zqylboxqh .zqylfont{padding:5px 10px;}
	.zqylboxqh .zqylfont p{line-height:20px;height:60px;font-size:12px;}
	.title h6{line-height:24px;}
	.title a{margin:0;}
	.boxnew{padding:0 0 10px 0;}
	.boxnew h6,.kpwd,.csdlbox .csdlboxnr{width:100%;}
	.boxnew .boxnewnr{width:100%;padding:10px 0;}
	.boxnew .boxnewnr span{height:60px;-webkit-line-clamp:2;}
	.csdlbox .csdlboximg{width:100%;height:auto; margin:0 auto;float: initial;}
	.csdlbox .csdlboxnr{padding:0;}
	.csdlbox .csdlboxnrtitle{display:flex;justify-content:center;margin:20px 0 10px 0;flex-wrap:wrap;}
	.csdlbox .csdlboxnrtitle span{width:100%;text-align:center;}
	.csdlbox .csdlboxnrtitle p{width:100%;text-align:center;margin:10px 0 0 0;color:#0081cc;}
	.csdlbox .csdlboxul p{line-height:30px;}
	.csdlbox .csdlboxnr{height:auto;}
	.csdlbox .csdlboxckxq{margin:20px 0 0 0;}
	.csdlbox,.zqylbox{padding:0;}
	.csdlbox .bd li a{padding:20px;}
	.bqnr{width:100%;}
	.bqnr li{ line-height:30px;text-align:center;}
	.bqwem{justify-content: center; margin:20px auto;}
	.bqwem h6 img{margin:20px 20px 0 0;}
	.bqwem span{margin:0;}
	.zqylboxqh .hd ul li span{line-height:30px;}
	.zqylboxqh .bd{margin:10px 0 0 0;}
	.bshgzzbox{padding:20px;}
	.bshgzzboxtitle{line-height:30px;}
	.sp .title{padding:0 20px;}
	.padding7{padding:20px 0;}
	.boxnew .boxnewnr span, .boxnewul li span{font-size:14px;}
	.bqwem span img{margin:0;}
	.bqwem span{height:90px;}
	.kphdbox h5 img{height:auto;}
	.cgfwbox .jjyy{display:none;}
}
@media screen and (max-width:414px) {
	
}
@media screen and (max-width:400px) {
	
}
@media screen and (max-width:360px) {
	.navrightbox{display:none;}
	#header .menua {right: 13px;top: 19px;}
	
}
@media screen and (max-width:320px) {
	.cgfwbox .cgfwtime li:nth-child(2){margin:0 20px;}
	.cgfwbox .cgfwtime li:nth-child(2) span:before{    width: 20px;left: -18px;}
	.cgfwbox .cgfwtime li:nth-child(2) span:after{    width: 20px;right: -18px;}
	.cgfwbox .cgfwico li{width:50%;}
	.bqtoplogo a{width:60%;}
}


