.nywd{width:1260px; margin:0 auto;}
.navlogo a{margin:18px 0 0 0;}
.nav{position: inherit;background:#fff; padding:10px 0;z-index:4;}
.navrightbox select,.serch input,.navyjlm a{color:#333;}
.serch{border: 1px solid #e9e9e9;}
.nybanner{background:#009591;width:100%;position:relative;}
.nybannerimg,.nybannerimg img,.nybannerbj img{width:100%; }
.nybannerbj{position:absolute;left:0;bottom:0;z-index:2;}
.nysjlm{position:absolute;width:100%;left:0;bottom:85px;z-index:2;}
.nysjlmtitle{width:100%;font-size:40px; color:#fff;font-weight:bold; line-height:40px;}
.nysjlmul{margin:40px 0 0 0;}
.nysjlmul li{float:left;margin:0 35px 0 0;}
.nysjlmul li a{display:block;font-size:18px;color:#fff; line-height:30px;}
.nysjlmul li:hover,.nysjlmul li.on{border-bottom:2px solid #5ffef6;}
.nysjlmul li:hover a,.nysjlmul li.on a{color:#5ffef6;}
.nytitle{width:100%;position:relative;}
.nytitle span{width:200px; display:block; margin:0 auto;position:relative;}
.nytitle span:before{content:"";width:100%;height:1px;background:#0081cc;position:absolute;left:0;top:14px;}
.nytitle p{width:150px; display:block;font-size:30px; line-height:30px; margin:0 auto;text-align: center;font-weight:bold;position:relative;background:#fff;}
.nytitle p:before{content:"";width:8px;height:8px;background:#0081cc;border-radius: 50%;position:absolute;left:0;top:11px;}
.nytitle p:after{content:"";width:8px;height:8px;background:#0081cc;border-radius: 50%;position:absolute;right:0;top:11px;}
.nytitle a{display:block;position:absolute;right:0;top:0;font-size:14px;line-height:30px;color:#999;}
.nytitle a:hover{color:#f00;}
.margin6{margin:60px 0 0 0;}
/*********************************************************/
.cgxzbox{background:#f5f5f5;}
.cgxzboximg{width:510px;}
.cgxzboximg img{width:100%;}
.cgxzboxfont{width:calc(100% - 510px);padding:20px 20px 0 45px;}
.cgxzboxtitle{font-size:18px;color:#fff; line-height:18px;margin:20px 0 10px 0;}
.cgxzboxnr p{line-height:26px;}
#map{width:100%;}
.jtlxul{background:#00a8b1;padding:15px 0;display: flex;justify-content: center;flex-wrap: wrap;}
.jtlxul li{width:33.3%;float:left;border-right:1px solid #8eebf0;padding:0 25px;}
.jtlxul li:last-child{ border-right:0;}
.jtlxulimg>img{width:31px;float:left;margin:0 10px 0 0;}
.jtlxulimg span{display:block;font-size:20px;color:#fff;font-weight:bold; line-height:30px; float:left;}
.jtlxulp{width:100%;color:#fff; line-height:30px;margin:20px 0 0 0}
.lcdsbox{ width:100%; border:1px solid #00a8b1;position:relative;display: flex;justify-content: center;flex-wrap: wrap;}
.lcdsbox .hd{width:34%; height:100%; background:#0081cc;float:left;}
.lcdsbox .hd ul{padding:30px 0 50px 0;}
.lcdsbox .hd ul li{width:80%;margin:20px auto 0 auto;font-size:20px;text-align:center; line-height:50px;color:#fff;border:1px solid #fff;  cursor:pointer;  }
.lcdsbox .hd ul li.on{background:#fff;color:#0081cc;}
.lcdsbox .bd{width:66%;float:right;}
.lcdsbox .bd ul li{width:100%;display:block; }
.lcdsbox .bd ul li a{width:100%;display:block; }
.lcdsbox .bd ul li img{width:90%; margin:27px auto 0 auto; }
.ztylboxqh{ width:100%;position:relative; padding:0 0 50px 0;  }
.ztylboxqh .hd{width:100%;  height:17px;position:absolute;left:0;bottom:0;}
.ztylboxqh .prev{width:17px;height:32px; background:url("../img/jtimg05.png") no-repeat;overflow:hidden;position:absolute;left:-17px; top:35%;cursor:pointer;}
.ztylboxqh .next{width:17px;height:32px; background:url("../img/jtimg06.png") no-repeat;overflow:hidden;position:absolute;right:-17px; top:35%;cursor:pointer;}
.ztylboxqh .hd ul{text-align:center;  }
.ztylboxqh .hd ul li{ width:15px; height:15px; overflow:hidden;display:inline-block; border:1px solid #ccc;margin:0 5px;color:#fff;border-radius: 50%;cursor:pointer;  }
.ztylboxqh .hd ul li.on{ background:#009591;color:#009591;border:0; }
.ztylboxqh .bd{width:100%;overflow:hidden; }
.ztylboxqh .bd ul{ overflow:hidden; zoom:1; }
.ztylboxqh .bd ul li{width:816px; margin:0 20px; float:left; _display:inline; }
.ztylboxqh .bd ul li a{width:100%; display:block}
.ztylboxqh .ztylimg{width:100%; display:block;overflow:hidden;}
.ztylboxqh .ztylimg img{width:100%;height:100%;object-fit: cover;transition:0.5s;}
.ztylboxqh .ztyltitle{width:100%;padding:30px;border:1px dashed #009591;border-top:0; }
.ztylboxqh .ztyltitle span{width:100%;display:block;font-size:20px;margin:0 0 15px 0;  }
.ztylboxqh .ztyltitle p{width:100%;line-height:20px;height:40px; font-size:14px; color:#666; overflow:hidden;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;}
.ztylboxqh .bd ul li:hover .ztylimg img{transform: scale(1.05);}
.ztylboxqh .bd ul li:hover .ztyltitle{background:#009591;}
.ztylboxqh .bd ul li:hover .ztyltitle span{color:#fff;}
.ztylboxqh .bd ul li:hover .ztyltitle p{color:#fff;}
.jjyybox{width:100%;display:flex;justify-content: center;flex-wrap: wrap;}

.jjyyboxleft{width:32%;padding:30px 0;background:#00a8b1;margin:0 2% 0 0;}
.jjyyboxleft h6{width:100%; font-size:30px; color:#fff; line-height:30px;text-align:center;}
.jjyyboxleft span{width:100%; display:block;}
.jjyyboxleft span>img{width:160px;height:160px; margin:30px auto 20px auto;}
.jjyyboxleft p{width:100%;line-height:18px;text-align:center;color:#fff;font-size:18px;}
.jjyyboxright{width:66%; }
.jjyyboxright img{width:100%; }
.tzggboxul li{border-bottom:1px solid #e4e4e4;}
.tzggboxul li a{width:100%;display: flex;justify-content: center;flex-wrap: wrap;}
.tzggboxul li h6{display:block;width:15px;height:15px;border:2px solid #00a8b1;border-radius:50%;margin:30px 0 0 0;}
.tzggboxul li span{ width:calc(100% - 100px); line-height:75px;height:75px;font-size:18px;padding:0 10px; overflow:hidden;display: -webkit-box;-webkit-line-clamp:1;-webkit-box-orient: vertical;}
.tzggboxul li p{ width:85px;color:#999;line-height:75px;text-align:right;}
.tzggboxul li:hover,.xxzxboxul li:hover{background: linear-gradient(90deg, rgba(0,129,204,1) 0%, rgba(0,149,145,1) 100%);}
.tzggboxul li:hover a{padding:0 10px;transition:0.5s;}
.tzggboxul li:hover span{color:#fff;}
.tzggboxul li:hover p{color:#fff;}
.tzggboxul li:hover h6{background:#fff;border:2px solid #3cb7ff;}
.fyul{width:100%;display:flex;justify-content: center;flex-wrap: wrap;}
.fyul li{display:block;margin:0 5px;background:#fff;}
.fyul li a{display:block;padding:0 10px;line-height:30px;height:30px;font-size:18px;color:#333;}
.fyul li:hover,.fyul li.on{background:#0081cc;}
.fyul li:hover a,.fyul li.on a{color:#fff;}
.xxzxboxul{}
.xxzxboxul li{border:1px solid #e4e4e4;padding:20px; margin:0 0 40px 0;}
.xxzxboxul li a{display:block;position:relative;}
.xxzxboxul .xxzxboximg{width:330px;height:220px;overflow:hidden;}
.xxzxboxul .xxzxboximg img{width:100%;height:100%;object-fit:cover;transition:0.5s;}
.xxzxboxul .xxzxboxfont{width:calc(100% - 330px);padding:0 0 0 30px;}
.xxzxboxul .xxzxboxfont span{width:100%; font-size:20px; line-height:50px;height:50px; overflow:hidden;display: -webkit-box;-webkit-line-clamp:1;-webkit-box-orient: vertical; }
.xxzxboxul .xxzxboxtitle{width:100%;margin:10px 0 0 0; border-bottom:1px solid #eaeaea; padding:0 0 20px 0;}
.xxzxboxul .xxzxboxtitle h6{width:17px;height:17px;display:block;float:left;position:relative;overflow:hidden;}
.xxzxboxul .xxzxboxtitle  img{width:17px; position:absolute;left:0;top:0;transition:0.5s;}
.xxzxboxul .xxzxboxtitle P{ height:17px; float:left;color:#b5b5b5; line-height:17px;margin:0 0 0 10px;}
.xxzxboxul .xxzxboxnr{width:100%;margin:20px 0 0 0; line-height:25px;height:50px;color:#6d6d6d; overflow:hidden;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical; }
.xxzxboxul .xxzxboxxq{width:100px; line-height:25px; color:#00a8b1;border:1px solid #00a8b1;position:absolute;right:0;bottom:0;text-align:center;  }
.xxzxboxul li:hover .xxzxboxfont span,.xxzxboxul li:hover .xxzxboxtitle p{color:#fff;}
.xxzxboxul li:hover .xxzxboximg img{transform: scale(1.05);}
.xxzxboxul li:hover .xxzxboxtitle img{top:-17px;}
.xxzxboxul li:hover .xxzxboxnr{color:#fff;opacity: 0.7;}
.xxzxboxul li:hover .xxzxboxxq{color:#fff;border:1px solid #fff;}
/*********************************************************/
.nytitle02 span{width:300px;}
.nytitle02 p{width:200px;}
.nygzzjs{width:100%;background: #fffbf2;}
.nygzzjs a{width:100%;  display:flex;flex-wrap:wrap;justify-content: center; }
.nygzzjsimg{width:50%;float:left;overflow:hidden;}
.nygzzjsimg img{width:100%;transition:0.5s;}
.nygzzjsnr{width:50%;float:left;background: linear-gradient(180deg, rgba(0,149,145,1) 0%, rgba(0,129,204,1) 100%);padding:20px 40px;}
.nygzzjsnr p{color:#fff;font-size:20px; line-height:38px;justify-content: center;align-items: center;text-indent:2em;}
.nygzzjsnr h6{ width:100px; line-height:25px; color:#fff;border:1px solid #fff;text-align:center; float:right;}
.nygzzjs a:hover .nygzzjsnr{background:#0081cc;}
.nygzzjs a:hover .nygzzjsimg img{transform: scale(1.05);}

.nyzjtdul{}
.nyzjtdul li{width:23%;float:left;margin:0 2.66% 0 0;}
.nyzjtdul li a{width:100%;display:block;background: linear-gradient(180deg, rgba(0,149,145,1) 0%, rgba(0,129,204,1) 100%);padding:35px 15px 30px 15px;}
.nyzjtdul li:last-child{
    /*float:right;*/
    margin:0;}
.nyzjtdul li span{width:100%;display:block;text-align:center;color:#fff;font-size:26px; line-height:26px;}
.nyzjtdul li h6{width:100%;display:block;text-align:center;color:#fff;font-size:18px; line-height:18px; margin:20px 0;}
.nyzjtdul li .nyzjtdimg{width:100%; height:14px;position:relative;z-index:2;}
.nyzjtdul li .nyzjtdimg:before{content:""; width:100%; height:1px; background:#fff;position:absolute; left:0;top:7px;z-index:-1;}
.nyzjtdul li h5{width:30px; height:14px;  margin:0 auto;display:block; position:relative;background: linear-gradient(180deg, rgb(0 141 166) 0%, rgb(0 141 169) 100%);}
.nyzjtdul li h5:before{content:"";width:14px; height:14px; border:1px solid #fff;border-radius:50%;position:absolute;left:50%;top:0;margin:0 0 0 -7px;  }
.nyzjtdul li p{width:100%; color:#fff;line-height:30px;height:150px; margin:20px 0 0 0;overflow:hidden;display: -webkit-box;-webkit-line-clamp:5;-webkit-box-orient: vertical; }
.nyzjtdul li:hover a{background:#37b18a;}
.nyzjtdul li:hover h5{background:#37b18a;}
.nybsfcul{}
.nybsfcul li{width:31%;float:left; margin:0 3.5% 0 0;padding:0 0 10px 0;}
.nybsfcul li:nth-child(3){ float:right;margin:0;}
.nybsfcul li a{width:100%;display:block;}
.nybsfcul li .nybsfcimg{width:100%;height:345px; overflow:hidden;}
.nybsfcul li .nybsfcimg img{width:100%; height:100%;object-fit:cover;transition:0.5s;}
.nybsfcul li span{width:100%;font-size:18px; line-height:30px;height:60px;margin:10px 0; display:block;color:#727171;overflow:hidden;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical; }
.nybsfcul li p{width:100%; line-height:16px;height:16px; color:#a5a5a5;}
.nybsfcul li:hover{background: linear-gradient(180deg, rgba(0,149,145,1) 0%, rgba(0,129,204,1) 100%);}
.nybsfcul li:hover .nybsfcimg img{transform: scale(1.05);}
.nybsfcul li:hover span{padding:0 10px;color:#fff;transition:0.5s;}
.nybsfcul li:hover p{padding:0 10px;color:#fff;transition:0.5s;}
.nyqkjj a{background: linear-gradient(180deg, rgba(0,149,145,1) 0%, rgba(0,129,204,1) 100%);display:block;width:100%;}
.nyqkjjimg{width:50%;float:left;}
.nyqkjjimg img{width:100%;}
.nyqkjj p{width:50%;float:left;margin:150px 0 0 0; padding:0 60px;font-size:18px; line-height:35px;height:210px;overflow:hidden;display: -webkit-box;-webkit-line-clamp:6;-webkit-box-orient: vertical;color:#fff;}
.nyqkjj a:hover{background: linear-gradient(180deg, rgba(0,149,145,1) 0%, rgba(0,129,204,1) 100%);}
.nyqkjj a:hover p{color:#fff;}
.nyqkddul{}
.nyqkddul li{width:32%;float:left;border:1px solid #00a8b1;float:left;margin:0 2% 25px 0;}
.nyqkddul li:nth-child(3n){ float:right; margin:0 0 25px 0;}
.nyqkddul li a{width:100%;display:block;padding:15px;position:relative;display:flex;}
.nyqkddul .nyqkddulimg{width:135px;height:170px;float:left;overflow:hidden;}
.nyqkddul .nyqkddulimg img{width:100%;height:100%;object-fit:cover;transition:0.5s;}
.nyqkddul .nyqkddulnr{width:calc(100% - 135px);float:left;padding:0 0 0 15px;position:relative;}
.nyqkddul .nyqkddultitle{width:100%;font-weight:bold; line-height:20px;}
.nyqkddul .nyqkddulul{ margin:10px 0;}
.nyqkddul .nyqkddulul p{width:100%; line-height:30px;}
.nyqkddul .nyqkddulckxq{width:80px; line-height:25px; color:#00a8b1;border:1px solid #00a8b1;text-align:center;font-size:14px; position:absolute;left:15px;bottom:0;}
.nyqkddul li:hover{background:#00a8b1;}
.nyqkddul li:hover .nyqkddulimg img{transform: scale(1.05);}
.nyqkddul li:hover .nyqkddultitle{color:#fff;}
.nyqkddul li:hover .nyqkddulul p{color:#fff;}
.nyqkddul li:hover .nyqkddulckxq{color:#fff;border:1px solid #fff;}
.nyzdfs{display:flex;flex-wrap:wrap;justify-content:center;}
.nyzdfsimg{width:380px;}
.nyzdfsimg img{width:100%;}
.nyzdfsnr{width:calc(98% - 380px);margin:0 0 0 2%;background:#00a8b1;padding:30px 40px 0 40px;}
.nyzdfsnr span{width:100%;display:block; line-height:30px;display:block;font-size:20px;color:#fff;padding:0 0 10px 0;}
.nyzdfsnrul {width:100%; padding:10px 0 10px 0;border-top:1px solid #fff;}
.nyzdfsnrul li{width: 50%;display:block;float:left;color:#fff;line-height:35px;}

/********************************/
.nyghg{width:100%; background:url("../img/nygywmbj01.png") right top no-repeat;position:relative;padding:50px 0 0 0;background-size: cover;}
.nyghgimg{width:858px;}
.nyghgimg img{width:100%;}
.nyghgnr{background:#00a8b1;width:50%;position:absolute;right:0;top:125px;padding:35px;}
.nyghgnr span{width:100%;display:block;font-size:30px;color:#fff;line-height:30px;}
.nyghgnr p{width:100%;display:block; color:#fff;line-height:30px;margin:30px 0;}
.nyghgnr a{width:100%;display:block; color:#fff;line-height:30px;}
.nyghgnr a:hover{ color:#fcff00; }
.margin10{margin:100px 0 0 0;}
.nyzzjgimg,.nyzzjgimg a,.nyzzjgimg a img{width:100%;display:block;}
.nykycg{background:#f5f5f5;}
.nykycg .nykycgimg,.nykycg .nykycgul{width:50%;float:left;}
.nykycg .nykycgimg img{width:100%;}
.nykycg .nykycgul{padding:15px 30px 0 30px;}
.nykycg .nykycgul li{border-bottom:1px solid #d9d9d9;}
.nykycg .nykycgul li,.nykycg .nykycgul li a{width:100%;display:block;}
.nykycg .nykycgul li span{width:calc(100% - 90px);display:block;float:left;height:75px; line-height:75px;font-size:18px;overflow:hidden;display: -webkit-box;-webkit-line-clamp:1;-webkit-box-orient: vertical;}
.nykycg .nykycgul li p{width:90px;display:block;float:left;text-align:right;color:#999; line-height:75px;}
.nykycg .nykycgul li:hover{background:#00a8b1;}
.nykycg .nykycgul li:hover a{padding:0 10px; transition:0.5s;}
.nykycg .nykycgul li:hover span{color:#fff;}
.nykycg .nykycgul li:hover p{color:#fff;}
.nyldbz{ width:100%; display:flex;flex-wrap:wrap;justify-content: center; }
.nyldbz .hd{width:350px; height:100%; position:relative;background: linear-gradient(90deg, rgba(58,180,133,1) 0%, rgba(0,168,177,1) 100%); }
.nyldbz .hd ul{padding:20px 0;}
.nyldbz .hd ul li{width:100%; display:flex;flex-wrap:wrap;justify-content: center; cursor:pointer;padding:0 0 0 0;}
.nyldbz .hd ul li h6{line-height:44px;display:block;color:#fff;font-size:18px;}
.nyldbz .hd ul li span{width:7px;height:7px;background:#fff;border-radius:50%; display:block;margin:19px 8px 0 8px; }
.nyldbz .hd ul li.on{ background:#009591;}
.nyldbz .bd{width:calc(97% - 350px); margin:0 0 0 3%;}
.nyldbz .bd ul{width:100%;height: 100%; background:url("../img/nyldbzbj02.jpg") no-repeat;background-size: cover;}
.nyldbz .bd ul li{margin:0 auto; padding:20px;}
.nyldbz .bd ul li a{width:100%;display:block;color:#fff;font-size:18px; line-height:40px;}
.nyryzz{ width:100%;}
.nyryzz .parHd{width:100%; height:40px; position:relative; margin:35px 0 30px 0; }
.nyryzz .parHd ul{ display:flex;flex-wrap:wrap;justify-content: center;}
.nyryzz .parHd ul li{width:160px;height:40px;line-height:40px; text-align:center;border:1px solid #00a8b1;font-size:18px; margin:0 15px;cursor:pointer;}
.nyryzz .parHd ul li.on{  background:#00a8b1; border:1px solid #00a8b1;color:#fff; }
.nyryzz .slideBox{zoom:1; position:relative;overflow:hidden;  }
.nyryzz .parBd ul{overflow:hidden; zoom:1;   }
.nyryzz .parBd ul li{width:320px; margin:0 10px; float:left; _display:inline; overflow:hidden;border:1px solid #d1d1d1;}
.nyryzz .parBd ul li a{width:100%;height:210px; overflow:hidden; display:block;padding:10px;}
.nyryzz .parBd ul li img{width:100%; height:100%;object-fit:cover;transition:0.5s;}
.nyryzz .sPrev{ position:absolute; left:-50px; top:38%;z-index:99; width:17px; height:32px; background:url(../img/jtimg05.png) no-repeat;overflow:hidden; }
.nyryzz .sNext{ position:absolute; right:-70px; top:38%;z-index:99; width:17px; height:32px; background:url(../img/jtimg06.png) no-repeat;overflow:hidden; }
.nyryzz .parBd ul li:hover{background:#00a8b1;}

.nycjht{display:flex;flex-wrap:wrap;justify-content: center;}
.nycjhtleft{width:61%;background:url("../img/nygywmimg05.jpg") no-repeat;background-size:cover;padding:40px 40px;}
.nycjhtimg{width:170px;float:left;margin:55px 0 0 0;}
.nycjhtimg img{width:100%;}
.nycjhtnr{width:calc(100% - 200px);float:right;background:rgba(255,255,255,0.5);padding:25px 20px;}
.nycjhtnr p{width:100%; font-size:18px; line-height:30px; height:150px; color:#03a9b2;overflow:hidden;display: -webkit-box;-webkit-line-clamp:5;-webkit-box-orient: vertical;}
.nycjhtright{width:37%;background:url("../img/nygywmimg04.jpg") no-repeat;background-size:cover;margin:0 0 0 2%;padding:30px 45px 0 45px;}
.nycjhtright span{width:100%;display:block;color:#fff;font-size:30px; line-height:30px;}
.nycjhtul li{width:100%;display:block;margin:15px 0 0 0;}
.nycjhtul li img{width:24px;height:24px; float:left;}
.nycjhtul li p{width:calc(100% - 24px);height:24px; float:left; line-height:24px; color:#fff;font-size:18px; padding:0 0 0 5px;}
/*****************************/
.cgxzmain{background:url("../img/cgxzbj01.jpg") no-repeat;background-size:cover;padding:65px 200px;display:flex;flex-wrap:wrap;justify-content: center;}
.cgxzmainleft{width:360px;border-right:1px solid rgba(255,255,255,0.5);display:flex;flex-wrap:wrap;justify-content: center;}
.cgxzmaintitle{width:34px;position:relative;}
.cgxzmaintitle:before{content:"";width:1px;height:40%;background:#fff;position:absolute;left:16px;bottom:50px;}
.cgxzmaintitle:after{content:"";width:8px;height:8px;background:#fff;border-radius: 50%; position:absolute;left:13px;bottom:54%;}
.cgxzmaintitle h5{width:100%;font-size:30px;font-weight:bold;color:#fff;display:block; line-height:30px;text-align: center;}
.cgxzmaintitle span{width:100%;height:34px;display:block; position:absolute;left:0;bottom:0;}
.cgxzmaintitle span img{width:100%;height:100%;}
.cgxzmainleftul{width:130px;margin: 0 27%;}
.cgxzmainleftul li{border-bottom:1px solid rgba(255,255,255,0.5);padding:20px 0;}
.cgxzmainleftul li span{width:100%;display:block;font-size:50px;color:#fff; line-height:50px;text-align:center;}
.cgxzmainleftul li p{width:100%;display:block; color:#fff; line-height:30px;text-align:center;opacity: 0.5;}
.cgxzmainright{width:calc(100% - 360px);display:flex;flex-wrap:wrap;justify-content: center;padding:0 0 0 135px;}
.cgxzmainbox{width:calc(100% - 34px);padding:0 30px 0 65px;color: #fff;overflow-y: overlay;height:350px;}


.xzpicul li{width:30%;float:left;}
.xzpicul li a{width:100%;display:block;}


@media screen and (max-width:1680px) {
	.ztylboxqh .bd ul li{width:707px;}
	.nybsfcul li .nybsfcimg{height:305px;}
	.nyqkjj p{margin: 100px 0 0 0;}
	.nyryzz .parBd ul li{width:280px; }
	.nyryzz .parBd ul li a{ height:182px;}
	.nykycg .nykycgul li span,.nykycg .nykycgul li p{line-height:65px;height:65px;}
	.cgxzmain{padding:65px;}
	.nygzzjsnr p{line-height: 32px;font-size:16px;}
}
@media screen and (max-width:1550px) {
	.ztylboxqh .bd ul li{width:655px;}
	.nybsfcul li .nybsfcimg{height:280px;}
	.nyryzz .parBd ul li{width:257px;}
	.nyryzz .parBd ul li a{height:168px;}
	.nykycg .nykycgul li span,.nykycg .nykycgul li p{line-height:60px;height:60px;}
	.cgxzmain{padding:30px;}
	.nygzzjsnr p{line-height:40px;height:200px;overflow:hidden;margin:0 0 20px 0;}
}
@media screen and (max-width:1500px) {
	.ztylboxqh .bd ul li{width:633px;}
	.nybsfcul li .nybsfcimg{height:270px;}
	.nyqkjj p{margin:80px 0 0 0;}
	.nyryzz .parBd ul li{width:248px;}
	.nyryzz .parBd ul li a{height:162px;}
	.nykycg .nykycgul li span,.nykycg .nykycgul li p{line-height:57px;height:57px;}
}
@media screen and (max-width:1440px) {
	.ztylboxqh .bd ul li{width:608px;}
	.nyryzz .parBd ul li{width:239px; }
	.nybsfcul li .nybsfcimg{height:260px;}
	.nyqkjj p{margin:70px 0 0 0;}
	.nyryzz .parBd ul li{width:237px;}
	.nyryzz .parBd ul li a{height:155px;}
	.nykycg .nykycgul li span,.nykycg .nykycgul li p{line-height:55px;height:55px;}
	.cgxzmainright{padding: 0 0 0 65px;}
	.cgxzmaintitle h5{font-size: 22px;line-height:28px;}
	.cgxzmainleftul li span{font-size:40px;}
}
@media screen and (max-width:1366px) {
	.ztylboxqh .bd ul li{width:570px;}
	.nybsfcul li .nybsfcimg{height:245px;}
	.nyqkjj p{margin:50px 0 0 0;}
	.nyryzz .parBd ul li{width:223px;}
	.nyryzz .parBd ul li a{height:146px;}
	.nykycg .nykycgul{padding: 15px 15px 0 15px;}
	.nykycg .nykycgul li span,.nykycg .nykycgul li p{line-height:52px;height:52px;font-size:16px;}
	.cgxzmainleftul li span{font-size:30px;}
	
	.nygzzjsnr p{height:160px; margin:0 0 10px 0;}
}
@media screen and (max-width:1300px) {
	.nywd{width:90%;}
	.ztylboxqh .bd ul li{width:540px;}
	.nysjlm{bottom:20px;}
	.nysjlmtitle,.jjyyboxleft h6{font-size:20px; line-height:20px;}
	.nysjlmul{margin:15px 0 0 0;}
	.nysjlmul li{margin: 0 20px 0 0;}
	.nysjlmul li a{font-size:16px;}
	.nytitle p{font-size:20px;}
	.cgxzboxfont{padding: 0 20px 0 20px;}
	.cgxzboxtitle,.cgxzboxnr p,.jtlxulp,.lcdsbox .hd ul li,.jjyyboxleft p,.tzggboxul li p,.xxzxboxul .xxzxboxtitle P,.xxzxboxul .xxzxboxnr,.xxzxboxul .xxzxboxnr{font-size:14px;}
	.ztylboxqh .ztyltitle span{font-size:16px;margin:0 0 5px 0;}
	.jtlxulimg span{font-size: 16px;}
	.lcdsbox .hd ul{padding:20px 0;}
	.lcdsbox .hd ul li{margin: 10px auto 0 auto;}
	.lcdsbox .bd ul li img{margin: 50px auto 0 auto;}
	.ztylboxqh .ztyltitle{padding:10px;}
	.jjyyboxleft{padding:27px 0;}
	.jjyyboxleft span>img{    margin: 10px auto 10px auto;}
	.margin6{margin: 30px 0 0 0;}
	.margin3{margin: 20px 0 0 0;}
	.tzggboxul li span,.nybsfcul li span{font-size:16px;}
	.xxzxboxul .xxzxboxfont span{font-size: 16px; line-height:30px;height:30px;}
	.nygzzjsnr p,.nyzjtdul li h6,.nyzdfsnr span{font-size: 16px;}
	.nygzzjsnr h6,.nyzjtdul li p,.nybsfcul li p,.nyqkddul .nyqkddultitle,.nyqkddul .nyqkddulul p{font-size: 14px;}
	.nyzjtdul li span{font-size:18px;}
	.nyzjtdul li h6{margin: 10px 0;}
	.nybsfcul li .nybsfcimg{height:235px;}
	.nybsfcul li span{line-height:20px;height:40px;}
	.bqwem span img{width:100px;margin: 20px 0 0 0;}
	.nyqkjj p{font-size: 16px;margin: 40px 0 0 0;padding: 0 30px;}
	.nyqkddul .nyqkddulckxq{font-size:12px;}
	.nyzdfsnrul li{line-height: 34px;font-size: 14px;}
	.nyghgnr span{font-size:20px;}
	.nyghgnr{padding:20px;}
	.nyghgnr p{font-size:14px;margin:20px 0;}
	.nykycg .nykycgul li span,.nycjhtul li p,.nycjhtnr p,.nyldbz .bd ul li a,.nyldbz .hd ul li h6{font-size:16px;}
	.nybsfcul li .nybsfcimg{height:235px;}
	.nyryzz .parBd ul li{width:212px;}
	.nyryzz .parBd ul li a{height:139px;}
	.nykycg .nykycgul li span,.nykycg .nykycgul li p{line-height:49px;height:49px;}
}
@media screen and (max-width:1210px) {
	.nyqkddul .nyqkddulul p{line-height:20px;}
	.nyqkddul .nyqkddulul{margin:5px 0;}
	.ztylboxqh .bd ul li{width:500px;}
	.nybsfcul li .nybsfcimg{height:215px;}
	.nyryzz .parBd ul li{width:195px;}
	
}
@media screen and (max-width:1160px) {
	.ztylboxqh .bd ul li{width:460px;}
	.nyqkjjimg,.nyqkjj p{width:100%;}
	.nyqkjj p{height:auto;padding:20px; margin:0;}
	.nyqkddul li{width:100%;margin:0 0 10px 0;}
	.nyzdfsimg,.nyzdfsnr{width:100%;}
	.nyzdfsnr{margin:20px 0 0 0;}
	.nyghgnr{top:95px;}
	.nykycg .nykycgul{padding:20px;}
	.nykycg .nykycgul li span,.nykycg .nykycgul li p{ line-height:62px;height:62px;}
	.ztylboxqh .bd ul li{width:478px;}
	.nybsfcul li .nybsfcimg{height:210px;}
	.nyryzz .parBd ul li{width:186px;}
	.nygzzjsnr p{height:120px; }
	
}
@media screen and (max-width:1024px) {
	.cgxzboximg,.cgxzboxfont,.jtlxul li,.lcdsbox .hd,.lcdsbox .bd{width:100%;}
	.jtlxul li{border-right:0;}
	.jtlxulp{margin:0 0 10px 0;}
	.lcdsbox .hd ul li{width:48%;margin:0 1% 10px 1%;float:left;line-height: 35px;}
	.lcdsbox .bd ul li img{width:96%; margin:20px auto;}
	.ztylboxqh .bd ul li{width:416px;}
	.jjyyboxleft span>img{width:117px;height:117px;}
	.nybsfcul li .nybsfcimg{height:185px;}
	.nyghgimg,.nykycg .nykycgimg, .nykycg .nykycgul{width:100%;}
	.nyghgnr{position: initial;width:100%;}
	.margin10{margin: 30px 0 0 0;}
	.nyryzz .parHd ul li{font-size:16px;}
	.nyryzz .parHd{margin:20px 0;}
	.nycjhtleft{padding:20px;width:100%;}
	.nycjhtright{width:100%;margin:0; padding:20px;}
	.nycjhtright span{font-size:22px;}
	.nyryzz .parBd ul li{width:162px;}
	.nyryzz .parBd ul li a{height:107px;}
	.cgxzmaintitle{width:100%;position: inherit;}
	.cgxzmainleft{width:100%;border-right:0;display: block;}
	.cgxzmainright{width:100%;padding:0;}
    .cgxzmainleftul{width:100%;margin:0 0 20px 0;}
    .cgxzmainleftul li{width:33.3%;float:left;}
    .cgxzmainbox{width:100%;padding:0;overflow-y: initial;height:auto;}
    .cgxzmaintitle h5{font-size:20px;}
    .nygzzjsimg,.nygzzjsnr{width:100%;}
    .nygzzjsnr{padding:40px;}
    .nygzzjsnr p{height:auto;}
}
@media screen and (max-width:900px) {
	.ztylboxqh .bd ul li{width:361px;}
	.xxzxboxul .xxzxboximg{margin:0 auto 10px auto;float: none;}
	.xxzxboxul .xxzxboxfont{width:100%;padding:0;}
	.xxzxboxul .xxzxboxxq{display:none;}
	.xxzxboxul li{margin: 0 0 20px 0;}
	.nybsfcul li .nybsfcimg{height:160px;}
	.nygzzjsnr p, .nyzjtdul li h6,.tzggboxul li span, .nybsfcul li span{font-size: 14px;}
	.nyzjtdul li span{font-size:16px;}
}
@media screen and (max-width:700px) {
	.ztylboxqh .bd ul li{width:271px;}
	.nyzdfsnrul li,.nyzdfsnrul li:nth-child(2n){width:100%;}
	.nyzdfsnr{padding:20px;}
	.nyldbz .bd ul li{padding:20px 0 0 0;}
	.nyldbz .bd ul li a{ line-height:35px;font-size: 14px;}
	.nyldbz .hd{width: 250px;}
	.nyldbz .bd{width: calc(97% - 250px);}
}
@media screen and (max-width:500px) {
	.ztylboxqh .bd ul li{width:181px;}
	.jjyyboxleft,.jjyyboxright{width:100%;}
	.nysjlmtitle, .jjyyboxleft h6,.nytitle p{font-size: 16px;}
	.nysjlmul li a{font-size: 14px; line-height:20px;}
	.nybannerimg img{height:150px;object-fit:cover;}
	.navrightbox{display:none;}
	.navlogo a{margin:0;}
	.cgxzboxfont{padding:0 20px 20px 20px;}
	.margin6{margin:20px 0 0 0;}
	.margin3{margin:10px 0 0 0;}
	.lcdsbox .hd ul{padding:10px 0 0 0;}
	.lcdsbox .bd ul li img{margin:10px auto;}
	.tzggboxul li{padding:5px 0;}
	.tzggboxul li h6{margin:11px 0 0 0;width:8px;height:8px;}
	.tzggboxul li span{width:calc(100% - 8px); line-height:30px;height:30px; padding:0 0 0 10px;font-size: 14px;}
	.tzggboxul li p{width:calc(100% - 15px);padding:0 0 0 10px; line-height:20px;height:20px;float:left;text-align:left;}
	.fyul li a{font-size: 14px; line-height:20px;height:20px;padding: 0 5px;}
	.xxzxboxul .xxzxboximg{width:100%;height:auto;}
	.xxzxboxul li{padding:10px;}
	.xxzxboxul .xxzxboxfont span{font-size:14px;}
	.xxzxboxul .xxzxboxnr{font-size:12px;margin:10px 0 0 0; line-height:20px;height:40px;}
	.xxzxboxul .xxzxboxtitle{margin: 5px 0 0 0;padding: 0 0 10px 0;}
	.xxzxboxul li{margin: 0 0 10px 0;}
	.nygzzjsnr{padding:10px;}
	.nygzzjsnr p{
	    /*line-height:20px;height:40px;*/
	    line-height:30px;
	}
	.nyzjtdul li{width:100%; margin:0 0 10px 0;}
	.nyzjtdul li a{padding:10px;}
	.nyzjtdul li p{height:auto;}
	.nybsfcul li{width:100%;margin:0 0 10px 0;}
	.nybsfcul li .nybsfcimg{height:auto;}
	.nygzzjsnr h6, .nyzjtdul li p, .nybsfcul li p{font-size:12px;}
	.nyqkjj p{-webkit-line-clamp: inherit;font-size:14px; line-height:30px;}
	.nyqkddul li a{flex-wrap: wrap;justify-content: center;}
	.nyqkddul .nyqkddulnr{width:100%;margin:10px 0 0 0;padding:0;}
	.nyqkddul .nyqkddulckxq{position: initial;}
	.nyqkddul .nyqkddulul{margin:10px 0;}.nyqkddul .nyqkddulimg{width:100%;height:auto;}
	.bqwem span img{margin:0;}
	.nycjhtimg{margin:0 auto 20px auto;float: initial;}
	.nycjhtnr{ width: 100%;padding:20px;}
	.nycjhtnr p{height:auto;-webkit-line-clamp: inherit;font-size:14px;}
	.nycjhtright span{font-size:16px;}
	.nycjhtul li p{font-size:14px;}
	.nyghg{padding: 20px 0 0 0;}
	.nyldbz .hd{width:100%;}
	.nyldbz .bd{width:100%; margin:0;}
	.nyldbz .bd ul li{width:100%;padding:20px;}
	.nyldbz .hd ul li{width: 50%;float: left;padding:0;justify-content: center;}
	.nykycg .nykycgul li span{font-size:14px;}
	.nykycg .nykycgul li p{font-size:12px;}
	.nyryzz .parHd{height:30px;margin:10px 0;}
	.nyryzz .parHd ul li{width:90px; line-height:30px;height:30px;margin:0 5px;font-size:14px;}
	.nyghgnr span{font-size:16px;}
	.nyghgnr p{margin:10px 0;font-size: 12px; line-height:25px;}
	.nyldbz .hd ul li h6{font-size:14px; line-height:35px;}
	.nyldbz .hd ul li span{margin:14px 4px 0 4px;}
	.nyldbz .hd ul{padding:10px 0;}
	.nyldbz .bd ul li a{ line-height:28px;}
	.nykycg .nykycgul{padding:10px;}
	.nykycg .nykycgul li span, .nykycg .nykycgul li p{line-height:40px;height:40px;}
	.jjyyboxleft{margin:0;}
	.cgxzmaintitle h5{font-size:16px;}
	.cgxzmainleftul li{padding:20px 0 10px 0;}
	.cgxzmainleftul li span{font-size:20px; line-height:20px;}
	.cgxzmainleftul li p{font-size:14px; line-height:20px;opacity:0.7;}
	.cgxzmaintitle span{display:none;}
}
@media screen and (max-width:414px) {
	.ztylboxqh .bd ul li{width:330px;}
	.ztylboxqh .next,.ztylboxqh .prev{display:none;}
	.ztylboxqh{padding: 0 0 30px 0;}
	.jtlxulimg span{font-size:14px;}
}
@media screen and (max-width:375px) {
	.ztylboxqh .bd ul li{width:295px;}
}
@media screen and (max-width:350px) {
	.ztylboxqh .bd ul li{width:273px; }
}
@media screen and (max-width:320px) {
	.ztylboxqh .bd ul li{width:246px; }
}
@media screen and (max-width:280px) {
	.ztylboxqh .bd ul li{width:210px; }
}


